/MISA_pySLIME.egg-info/
/dist/
/MISA_pySLIME/ancillary/geophysical_ancillary/
/MISA_pySLIME/ancillary/MISA_ds_2.0.6.nc.zip
/MISA_pySLIME/ancillary/data_products/
/MISA_pySLIME.code-workspace
/MISA_pySLIME/notebooks/MISA_pySLIME_ETE_2.0.7.ipynb
/MISA_pySLIME/notebooks/MISA_pySLIME_query_2.0.7.ipynb
/MISA_pySLIME/model/ne_model_2_0_5.npy
/MISA_pySLIME/model/te_model_2_0_5.npy
/MISA_pySLIME/model/ti_model_2_0_5.npy
/MISA_pySLIME/ancillary/processed_ncs/master_geo_ds_2.0.6.nc
/build/
/.venv/
