/ancillary/geophysical_ancillary/
/ancillary/processed_ncs/master_geo_ds_2.0.6.nc
/ancillary/processed_ncs/MISA_ds_2.0.6.nc
/ancillary/MISA_ds_2.0.6.nc.zip
/MISA_pySLIME.egg-info/
/dist/
/MISA_pySLIME/ancillary/geophysical_ancillary/
/MISA_pySLIME/ancillary/MISA_ds_2.0.6.nc.zip
/MISA_pySLIME.code-workspace
